{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>Hello World</h1>
    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Login">
    </form>


    <h1>File Upload</h1>
<form action="{{ url_for('file_upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required="required">
    <input type="submit" value="Upload File">
</form>

    <h1>Convert to CSV</h1>
<form action="{{ url_for('convert_csv') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required="required">
    <input type="submit" value="Convert">
</form>

    <h1>Convert to CSV two</h1>
<form action="{{ url_for('convert_csv_two') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required="required">
    <input type="submit" value="Convert">
</form>

{% endblock %}