{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>Hello World</h1>

    <p>{{ message }}</p>

<a href="{{ url_for('set_data') }}">Set Session Data</a><br>
<a href="{{ url_for('get_data') }}">Get Session Data</a><br>
<a href="{{ url_for('clear_session') }}">Clear Session Data</a><br>
<a href="{{ url_for('set_cookie') }}">Set Cookie</a><br>
<a href="{{ url_for('get_cookie') }}">Get Cookie</a><br>
<a href="{{ url_for('remove_cookie') }}">Remove Cookie</a><br>
<a href="{{ url_for('login') }}">Login</a><br>
{% endblock %}