.color-title{
    font-weight: normal;
}

#red{
    color:red
}

#blue{
    color:rgb(80, 183, 218)
}

#orange{
    color:orange
}

#green{
    color:green
}

#yellow{
    color:rgb(230, 230, 58)
}

img{
    height: 200px;
    width: 200px;    
    
}