{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/pozadina6.jpg" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Универзал - традиција и иновативност во земјоделието</h1>
            <p class="opacity-75 text-justify">Основана во 1990 година, Универзал е водечки производител на
                квалитетни земјоделски производи. Со децениско искуство, нашата компанија се стреми кон
                одржлив развој и иновации во земјоделството.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <img src="static/images/pozadina5.jpg" class="d-block w-100" alt="Slide 2">
        <div class="container">
          <div class="carousel-caption">
            <h1>Посветени на растење на вашиот успех</h1>
            <p class="text-justify">Ние обезбедуваме модерни технологии и квалитетни производи за да им помогнеме на
                земјоделците да ги оптимизираат своите приноси и да го подобрат производството.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <img src="static/images/pozadina4.jpg" class="d-block w-100" alt="Slide 3">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Зелена иднина со Универзал</h1>
            <p class="text-justify">Фирмата Универзал се залага за одржливо земјоделие, фокусирајќи се на еколошки практики и иновативни решенија за идните генерации.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<br><br>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center"> <!-- Додадено text-center -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Тане - Основач на Универзал</h2>
        <p class="text-justify">Тане е визионер и основач на компанијата Универзал. Со три децении искуство во земјоделството, тој ја создаде фирмата за да обезбеди висококвалитетни услуги и производи за земјоделците. Неговата страст и целосна посветеност кон развојот на одржливи земјоделски практики ја трансформираа Универзал во лидер во оваа индустрија.</p>
        <p><a class="btn btn-secondary" href="#">Дознај повеќе »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/images/filip.jpg" alt="Мартин - Софтверски инженер" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Филип - Економист</h2>
        <p class="text-justify">Филип е искусен економист кој е задолжен за финансиското управување на Универзал. Со своите аналитички способности и длабоко познавање на пазарот, тој се грижи за планирањето на ресурсите и обезбедува стабилен и долгорочен развој на компанијата. Неговата работа е клучна за успехот на Универзал.</p>
        <p><a class="btn btn-secondary" href="#">Дознај повеќе »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="static/images/martinslika.jpg" alt="Мартин - Софтверски инженер" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Мартин - Софтверски инженер</h2>
        <p class="text-justify">Мартин е софтверски инженер одговорен за дигитализацијата на процесите во Универзал. Тој создава и имплементира модерни софтверски решенија кои го подобруваат управувањето со податоци, автоматизацијата на работата и внатрешната комуникација, што ја прави фирмата поефикасна и конкурентна на пазарот.</p>
        <p><a class="btn btn-secondary" href="#">Дознај повеќе »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
<div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading fw-normal lh-1">За нас <span class="text-body-secondary">Нашата мисија и визија</span></h2>
     <p class="lead text-justify">Универзал е компанија со силна заложба за одржливост и иновации. Нашата визија е да бидеме лидер во еколошкото земјоделство преку континуирани подобрувања и соработка со нашите клиенти.</p>
   </div>
   <div class="col-md-5">
     <img src="static/images/slika2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="About Us">
   </div>
 </div>
 <hr class="featurette-divider">


   <div class="row featurette">
   <div class="col-md-7 order-md-2">
     <h2 class="featurette-heading fw-normal lh-1">Нашите услуги <span class="text-body-secondary">Поддршка за секој земјоделец</span></h2>
     <p class="lead text-justify">Ние нудиме сеопфатни услуги за земјоделци, вклучувајќи консултации, обуки за модерни технологии и прилагодени решенија кои ги оптимизираат нивните резултати.</p>
   </div>
   <div class="col-md-5 order-md-1">
     <img src="static/images/slika.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Services">
   </div>
 </div>

<hr class="featurette-divider">


    <div class="container">
   <h2 class="fw-normal text-center">Нашите моменти</h2>
   <div class="row">
     <div class="col-lg-4">
       <img src="static/images/grupa1.jpg" class="img-fluid rounded" alt="Gallery Image 1">
     </div>
     <div class="col-lg-4">
       <img src="static/images/grupa2.jpg" class="img-fluid rounded" alt="Gallery Image 2">
     </div>
     <div class="col-lg-4">
       <img src="static/images/grupa3.jpg" class="img-fluid rounded" alt="Gallery Image 3">
     </div>
   </div>
        <br>
        <div class="row">
     <div class="col-lg-4">
       <img src="static/images/grupa4.jpg" class="img-fluid rounded" alt="Gallery Image 4">
     </div>
     <div class="col-lg-4">
       <img src="static/images/grupa5jpg.jpg" class="img-fluid rounded" alt="Gallery Image 5">
     </div>
     <div class="col-lg-4">
       <img src="static/images/grupa6.jpg" class="img-fluid rounded" alt="Gallery Image 6">
     </div>
   </div>
</div>
<hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

</div>

{% endblock %}

