{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}




<style>
 body {

  background-color: #ffffff;

}

body:hover {
  background-position: 0 100%; /* Променува позицијата на градиентот при ховер */
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
</style>


<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/konsultacii2.jpg" class="d-block w-100">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Консултации</h1>
      <p class="lead text-justify">Нудиме стручни консултации за подобрување на аграрните практики и зголемување на продуктивноста. Нашите експерти ќе ви помогнат да идентификувате проблеми и да развиете стратегии за оптимизација на производството.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/dron3.jpg" class="d-block w-100">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Обучување за модерни технологии</h1>
      <p class="lead text-justify">Обучуваме земјоделци за употреба на нови технологии во производството. Нашите обуки вклучуваат практични демонстрации и теоретски делови за тоа како да ги примените технологиите за подобрување на квалитетот и ефикасноста на вашите производи.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/konsultacii1.jpg" class="d-block w-100">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Прилагодени решенија</h1>
      <p class="lead text-justify">Развиваме индивидуални решенија за секој клиент, оптимизирајќи ги нивните резултати според специфичните потреби. Нашиот тим ќе работи со вас за да разбере вашите уникатни предизвици и да ви понуди персонализирани стратегии за успех.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/planiranje.jpg" class="d-block w-100">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Планирање на култури</h1>
      <p class="lead text-justify">Помагаме при планирање на култури за оптимално искористување на ресурсите и подобрување на рентабилноста. Нашите стручњаци ќе ви помогнат да изберете најсоодветни култури за вашиот регион и да развиете стратегии за нивно успешнo отгледување.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/images/resurs.jpg" class="d-block w-100">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Управување со ресурси</h1>
      <p class="lead text-justify">Нудиме услуги за управување со ресурси, вклучувајќи анализа на трошоци и оптимизација на употребата на вода, семиња и ѓубрива. Со нашиот пристап, ќе ви помогнеме да ги минимизирате трошоците и да постигнете одржлив развој на вашето земјоделско стопанство.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}
