{% extends 'base.html' %}

{% block title %}Library{% endblock %}

{% block content %}
  <body>
    <h1>My Library</h1>
    <ul>
      {% if books|length == 0: %}
      <p>Library is empty.</p>

      {% else: %}

      {% for book in books %}
      <li>
         <a href="{{ url_for('delete', book_id=book.id) }}">Delete</a>
        {{ book.title }} - {{ book.author }} - {{ book.rating }}
          <a href="{{ url_for('edit', book_id=book.id) }}">Edit Rating</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
{% endblock %}