{% extends "base.html" %}

{% block title %}Access Denied{% endblock %}

{% block styling %}
<!--super() go dodavame dokolku sakame da gi nasledime site raboti od nekoja klasa
kako sto pravime nie vo ovoj slucaj, znaci ja nasleduvame pozadinata, no dadavame
uste eden nas element-->
	{{ super() }}
	h1{
		color:red
	}
{% endblock %}

{% block content %}
</head>
<body>
	<div class="container">
		<h1>Access Denied </h1>
		<iframe src="https://giphy.com/embed/1xeVd1vr43nHO" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
		<p><a href="https://giphy.com/gifs/cheezburger-funny-dog-fails-1xeVd1vr43nHO">via GIPHY</a></p>
	</div>
</body>
{% endblock %}